<div class="container">
    <h1 class="font-weight-dark text-center text-lg-center mt-4 mb-0">Chamundi Hostel Tour</h1>

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-left">
  
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609064425035!6m8!1m7!1sCAoSLEFGMVFpcE0xZXFsYUVwWFhhYklISkFkemJpVUdCOFc1d1p3dno5bElDQUl6!2m2!1d12.923617049319!2d77.498735230129!3f268.0618014269311!4f2.7554469974613767!5f0.7820865974627469" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609076874650!6m8!1m7!1sCAoSLEFGMVFpcFBCSkV0N1E0R0dqZGVnYlpIU3Y5LWx3bjY0dFZrYnpsZFVyOG9Q!2m2!1d12.923714584951!2d77.498814139787!3f320!4f0!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>            </a>
      </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609077345713!6m8!1m7!1sCAoSLEFGMVFpcE9UejdsanY0bjUxUEdmT0hqcFFURmo2ZGJBcFBNUktaeU5WZjFW!2m2!1d12.9237527!2d77.4987478!3f280!4f10!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
          </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609077447184!6m8!1m7!1sCAoSLEFGMVFpcE1sY1UzUWJnOUNUcHZRdHBHNVpBazNzWi01S3FSVkJja1o0VmtR!2m2!1d12.923625801111!2d77.498595104002!3f100!4f0!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
             </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609077488149!6m8!1m7!1sCAoSLEFGMVFpcFB6bXpqV2tFNjIyWklCeWNxZVFIeG9OdFpQaEN3OTZ2ekNLY1It!2m2!1d12.923718227287!2d77.498727876558!3f140!4f0!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  
            </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609077521178!6m8!1m7!1sCAoSLEFGMVFpcE5GbXl3VEs3MmFnYmg1VWotZUszNXZiNFF4S29vT2dIc3dod0dU!2m2!1d12.923648923832!2d77.498581945524!3f60!4f0!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  
            </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609077566479!6m8!1m7!1sCAoSLEFGMVFpcE13WFdVQkpmTkNTUGY5UjZrZzFia2E1QlJCVTF4cWpNRU5SbzRD!2m2!1d12.9237527!2d77.4986978!3f340!4f0!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
     </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609077633812!6m8!1m7!1sCAoSLEFGMVFpcFBVMXdDMWxqTUUyLXVaaFNBMnA1MmhtaGNyOFhQbDN3WXFzcUdo!2m2!1d12.9237427!2d77.4987778!3f260!4f0!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
     </div>
      <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-150">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1609077725260!6m8!1m7!1sCAoSLEFGMVFpcFB4dzdSWUJHSVVRN25Ga2VUUWRaa3cxZ3FxVlczZ2dyNHdyb2tX!2m2!1d12.923559590925!2d77.498671907745!3f280!4f20!5f0.7820865974627469"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>
      
    </div>
</div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div>
                        <h2 class="text-dark">About Us</h2>
                        <br>
                        <p class="text-dark">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                        <p class="text-dark">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                        <a href="#" class="text-dark">read more</a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <br>
                                    <h4>Work with heart</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  