<div class="container">
    <ul>
       <li><a href="/tour/cauvery">Cauvery Hostel</a></li> 
       <li> <a href="/tour/chamundi">Chamundi Hostel</a></li>
       <li><a href="/tour/MV">MV Hostel</a></li> 
       <li><a href="/tour/DJ">DJ Hostel</a></li> 
       <li><a href="/tour/krishnagarden">Krishna Garden Hostel</a></li> 
        <li><a href="/tour/girlshostel">RVCE Girls Hostel</a> </li>
    </ul>

</div>
