<a href="/tour/cauvery">Cauvery Hostel</a>
<a href="/tour/chamundi">Chamundi Hostel</a>
<a href="/tour/MV">MV Hostel</a>
<a href="/tour/DJ">DJ Hostel</a>
<a href="/tour/krishnagarden">Krishna Garden Hostel</a>
<a href="/tour/girlshostel">RVCE Girls Hostel</a>