
    <% for(var i = 0; i< data.length; i++) { %>
            <td></td>
            <p><a href="/index/<%= data[i].Hostel_ID %>" class="text-primary"><%= data[i].Hostel_Name%></a></p>
    <% } %>
    <p><a href="/location" class="text-primary">Locations!!</a></p>